* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 25px;
  flex-direction: column;
}

.titlesection {
  background-color: aquamarine;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 30vh;
  flex-direction: column;
  align-items: center;
}

.search-box{
  width: 100;
  margin: 0 0 75 px;
}

.titlesection input{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid green;
  font-size: 18px;
  padding-left: 10px;
}

.titlesection button{
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding-left: 0px;
  font-size: 18px;
  margin: 20px;
  color: black;
  background-color: cornflowerblue;
}

.titlesection button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

.display{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}

.display h1{
  font-size: 30px;
  text-decoration-color: darkgreen;
}

.display h4, h3{
  margin: 5px;
  
  
}

.display img{
  border-color: yellowgreen;
  width: 200px;
}